.abc{

width:1263px;
height:500px;
background-color:#E4E4F2;
float:left;
}




.def{

width:1263px;
height:430px;
background-color:#E4E4F2;
float:left;
}

.missionbox{

width:530px;
height:320px;
background-color:white;
float:left;
border-radius:3%;
margin-left:90px;
margin-right:50px;

}


.visionbox{


width:530px;
height:320px;
background-color:white;
float:left;
border-radius:3%;

}


.mission_vision_box1{


width:530px;
height:50%;
text-align:center;

}

.mission_vision_box2{

width:490px;
height:40%;
background-color:white;
text-align:center;
font-family:helvetica;
margin-left:20px;
margin-top:20px;
font-weight:bold;
color:black;

}


.misiion_vision_icon{

padding-top:10px;

}